header {
  height: 75px;
  box-sizing: border-box;
  border-bottom: 1px solid #d8cddd;
}

header .center {
  width: 1000px;
  margin: 0 auto;
}

header .center .z_logo {
  margin-top: 11px;
}

header .center .z_logo img {
  height: 52px;
}

header .center ul {
  margin-left: 60px;
}

header .center ul li {
  float: left;
  width: 90px;
  height: 32px;
  font-size: 20px;
  margin-top: 33px;
}

header .center ul li:hover {
  color: #fb4541;
}

header .center .z_sz {
  margin-top: 33px;
}

header .center .z_sz .z_search {
  display: inline-block;
  width: 24px;
  height: 26px;
  margin: 3px 33px;
  background: url(./img/search.png) no-repeat;
}

header .center .z_sz .z_zhu {
  display: inline-block;
  width: 52px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid #fa553f;
  border-radius: 2px;
  font-size: 13px;
  text-align: center;
  line-height: 32px;
}

header .center .z_sz .z_zhu a {
  color: #fa553f;
}

footer {
  background-color: #505050;
  padding-top: 40px;
}

footer .center {
  width: 1000px;
  margin: 0 auto;
  font-size: 13px;
  color: #a4a4a4;
  padding-bottom: 80px;
}

footer .center li {
  margin-right: 20px;
}

footer .center dt {
  margin-bottom: 30px;
  color: #fff;
}

footer .center dt img {
  width: 121px;
  height: 46px;
}

footer .center dd {
  height: 20px;
}

footer .center .z_er img {
  width: 160px;
  height: 160px;
}

footer .center .z_ji dd:nth-child(3) {
  margin-bottom: 15px;
}

footer .center .z_you {
  width: 150px;
}

footer .center .z_you dd {
  float: left;
  width: 70px;
}

footer .z_ban {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  font-size: 13px;
  color: #a4a4a4;
}
