body * {
  margin: 0;
  padding: 0;
}

body ul {
  list-style: none;
}

body span {
  display: inline-block;
}

body .w_head {
  width: 100%;
  height: 171px;
  text-align: center;
}

body .w_head h1 {
  font-size: 35px;
  margin: 50px 0px;
}

body .w_head ul {
  overflow: hidden;
  margin: auto;
  width: 375px;
}

body .w_head ul .w_play_nev {
  border-bottom: 4px solid #fd5238;
}

body .w_head ul li {
  float: left;
  width: 125px;
  height: 35px;
}

body .w_head ul li a {
  color: #9b9794;
  text-decoration: none;
}

body #lis {
  list-style: none;
  width: 1000px;
  height: "";
  overflow: hidden;
  margin: auto;
}

body #lis .w_li {
  width: 220px;
  height: 220px;
  float: left;
  margin: 12px 0px;
  margin-right: 18px;
  border: 1px solid #e9e9e9;
}

body #lis .w_li img {
  width: 100%;
  height: 130px;
}

body #lis .w_li .w_div1 {
  font-size: 14px;
  padding-left: 10px;
  margin: 7px 0px;
  height: 17px;
  overflow: hidden;
}

body #lis .w_li p {
  padding-left: 10px;
  font-size: 14px;
  color: #a1a0a5;
  margin-bottom: 5px;
}

body #lis .w_li div:last-of-type {
  padding-left: 10px;
  overflow: hidden;
}

body #lis .w_li div:last-of-type .w_span_color {
  float: left;
  color: #f6522d;
}

body #lis .w_li div:last-of-type div {
  color: #a1a0a5;
  float: right;
  overflow: hidden;
}

body #lis .w_li div:last-of-type div span {
  float: left;
  width: 14px;
  height: 15px;
  font-size: 12px;
}

body #lis .w_li div:last-of-type div span:nth-of-type(1) {
  background: url(../img/xin.png) 0px 2px no-repeat;
}

body #lis .w_li div:last-of-type div span:nth-of-type(3) {
  background: url(../img/reply.png) 0px 2px no-repeat;
}
